## Class in OOP

In [35]:
b = 23
print(type(b))

<class 'int'>

In [36]:
a = False
print(type(a))

<class 'bool'>

In [37]:
c = 34.5
print(type(c))

<class 'float'>

In [38]:
d = 'Etlhive'
print(type(d))

<class 'str'>

In [39]:
e = [1,2,3]
print(type(e))

<class 'list'>

In [40]:
f = {
    'a':1,
    'b':2,
    'c':3
}
type(f)

dict

In [41]:
import pandas as pd

In [42]:
emp = {
    'id':[1,2,3],
    'Name':['Nikhi', 'Aditya', 'Sakshi'],
    'Salary':[30000, 40000,20000]
}
type(emp)

dict

In [43]:
emp_df = pd.DataFrame(emp)
emp_df

   id    Name  Salary
0   1   Nikhi   30000
1   2  Aditya   40000
2   3  Sakshi   20000

In [44]:
print(type(emp_df))

<class 'pandas.core.frame.DataFrame'>

## Attributes

### 1. shape 
### 2.columns
### 3.index
### 4.dtypes
### 5.values

In [45]:
emp_df.shape

(3, 3)

In [46]:
emp_df.columns

Index(['id', 'Name', 'Salary'], dtype='object')

In [47]:
emp_df.index

RangeIndex(start=0, stop=3, step=1)

In [48]:
emp_df.dtypes

id         int64
Name      object
Salary     int64
dtype: object

In [49]:
emp_df.values

array([[1, 'Nikhi', 30000],
       [2, 'Aditya', 40000],
       [3, 'Sakshi', 20000]], dtype=object)

## Function/Methods

In [50]:
# Incorrect
emp_df.info

<bound method DataFrame.info of    id    Name  Salary
0   1   Nikhi   30000
1   2  Aditya   40000
2   3  Sakshi   20000>

In [51]:
emp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   Name    3 non-null      object
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [52]:
emp_df.sort_values(by = 'Salary', ascending=False)

   id    Name  Salary
1   2  Aditya   40000
0   1   Nikhi   30000
2   3  Sakshi   20000

## Creating a user defined class

## self is any object of class person

In [53]:
class Person:
    
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation
        
    def introduce(self):
        print(f'Hello my name is: {self.name}')
        print(f'My age is : {self.age}')
        print(f'I am: {self.gender}')
        print(f'I work as: {self.occupation}')

In [54]:
p1 = Person(name = 'nikhil', age = 21, gender= 'male', occupation='data Scientist')
print(type(p1))

<class '__main__.Person'>

## _main__ means current file which i am working

In [55]:
p1

In [56]:
p1.name

'nikhil'

In [57]:
p1.age

21

In [58]:
p1.gender

'male'

In [59]:
p1.introduce()

Hello my name is: nikhil
My age is : 21
I am: male
I work as: data Scientist

In [60]:
p2 = Person(name="Aditi", age=23, gender="Female", occupation="Engineer")
type(p2)

__main__.Person

In [61]:
p2.name

'Aditi'

In [62]:
p2.age

23

In [63]:
p2.gender

'Female'

In [64]:
p2.introduce()

Hello my name is: Aditi
My age is : 23
I am: Female
I work as: Engineer