# Functions

In [9]:
from warnings import filterwarnings
filterwarnings('ignore')

In [10]:
print(3*6)

18

In [11]:
a = [1,2,3,4,5]
len(a)

5

# User define functions

In [7]:
def add(a:int|float, b:int|float) -> int|float:
    """Addition of two numbers"""
    c = a+b
    return c

In [8]:
add(10,30)

40

# Varidac function
### func(*args)
### *args act like a tuple here in python

In [12]:
def funct(*args):
    print(args, type(args))
    for i in args:
        print(i)
    return args

In [13]:
b1 = funct(2,3)

(2, 3) <class 'tuple'>
2
3

In [14]:
b1

(2, 3)

In [15]:
b2 = funct(1,"Hello1",2.4, True, False)
b2

(1, 'Hello1', 2.4, True, False) <class 'tuple'>
1
Hello1
2.4
True
False

(1, 'Hello1', 2.4, True, False)

In [16]:
b3 = funct('Nikhil', 'priya', 'manish')
b3

('Nikhil', 'priya', 'manish') <class 'tuple'>
Nikhil
priya
manish

('Nikhil', 'priya', 'manish')

## Write a function to add any amount of numbers

In [17]:
def add_multiple(*args):
    #Initialize sum to 0
    sum = 0
    
    #Apply for loop on args
    for i in args:
        sum = sum+i
        
    #return the value of sum
    return sum

In [18]:
add_multiple(78,10)

88

In [19]:
add_multiple(23.3,50,200)

273.3

In [21]:
c = range(1,50)
c

range(1, 50)

In [22]:
c = list(range(1,40))
c

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [23]:
#Unpack and provide lis/tuple as input here
add_multiple(*c)

780

## Billing Example

In [24]:
cart1 = [
    ('Laptop', 54000,2),
    ('headphones', 1500, 4),
    ('Mouse', 500, 2),
    ('keyboard', 1200, 10),
    ('Mouse pad', 300, 2)
]

In [25]:
def billing(cart_id:int, *args) -> int|float:
    # Initialize total to 0
    total = 0
    
    # Print the cart id 
    print(f'Cart Id{cart_id}')
    # Apply for loop on args
    for product, price, qty in args:
        item_total = qty * price
        total = total + item_total
        print(f"Product : {product}, Price : {price} INR, Qty : {qty} Nos")
        print(f"Item Total : {item_total:.2f} INR")
        print("\n================================================================\n")

# Show the total
    print(f"Final Total : {total:.2f} INR")
    return total

In [26]:
cart1

[('Laptop', 54000, 2),
 ('headphones', 1500, 4),
 ('Mouse', 500, 2),
 ('keyboard', 1200, 10),
 ('Mouse pad', 300, 2)]

In [27]:
c1 = billing(101, *cart1)

Cart Id101
Product : Laptop, Price : 54000 INR, Qty : 2 Nos
Item Total : 108000.00 INR

================================================================

Product : headphones, Price : 1500 INR, Qty : 4 Nos
Item Total : 6000.00 INR

================================================================

Product : Mouse, Price : 500 INR, Qty : 2 Nos
Item Total : 1000.00 INR

================================================================

Product : keyboard, Price : 1200 INR, Qty : 10 Nos
Item Total : 12000.00 INR

================================================================

Product : Mouse pad, Price : 300 INR, Qty : 2 Nos
Item Total : 600.00 INR

================================================================

Final Total : 127600.00 INR

In [28]:
c1

127600

In [29]:
c2 = billing(
    102,
    ("GPU", 50000, 1),
    ("RAM", 5000, 2)
)

Cart Id102
Product : GPU, Price : 50000 INR, Qty : 1 Nos
Item Total : 50000.00 INR

================================================================

Product : RAM, Price : 5000 INR, Qty : 2 Nos
Item Total : 10000.00 INR

================================================================

Final Total : 60000.00 INR

In [30]:
c2

60000

In [31]:
help(billing)

Help on function billing in module __main__:

billing(cart_id: int, *args) -> int | float

## Keywords arguments

kwords - This will act like a dictionary in python

In [34]:
d = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": 4
}
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
type(d)

dict

In [36]:
d['b']

2

In [37]:
d.get('c')

3

In [38]:
d.get("e", "N/A")

'N/A'

In [39]:
print(d.get("e"))

None

In [40]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [41]:
for key, value in d.items():
    print(f"{key} : {value}")

a : 1
b : 2
c : 3
d : 4

In [44]:
def func2(**kwargs):
    print(kwargs, type(kwargs))

    for key, value in kwargs.items():
        print(f"{key}: {value}")
        
    return kwargs

In [45]:
func2(name="Sarthak", age=23)

{'name': 'Sarthak', 'age': 23} <class 'dict'>
name: Sarthak
age: 23

{'name': 'Sarthak', 'age': 23}

In [47]:
d2 = func2(name="Aditi", age=25, email="aditi@gmail.com", location="Pune")
d2

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'Pune'} <class 'dict'>
name: Aditi
age: 25
email: aditi@gmail.com
location: Pune

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'Pune'}

## Practical example of kwargs

In [48]:
def create_user(**kwargs):

    if "username" not in kwargs:
        raise ValueError("username should be available while creating a user")
    
    profile = {
        "username": kwargs["username"],
        "Full Name": kwargs.get("full_name", "N/A"),
        "Email": kwargs.get("email", "N/A"),
        "City": kwargs.get("city", "N/A"),
        "Blood Group": kwargs.get("blood_group", "N/A") 
    }

    return profile

In [50]:
u1 = create_user(
    username="sarthaks3",
    full_name= "Sarthak More",
    city = "Nashik"
)
u1

{'username': 'sarthaks3',
 'Full Name': 'Sarthak More',
 'Email': 'N/A',
 'City': 'Nashik',
 'Blood Group': 'N/A'}

In [51]:

u2 = create_user(
    username = "ramanv4",
    full_name = "Raman Verma",
    email = "raman@gmail.com",
    blood_group = "A+ve"
)
u2

{'username': 'ramanv4',
 'Full Name': 'Raman Verma',
 'Email': 'raman@gmail.com',
 'City': 'N/A',
 'Blood Group': 'A+ve'}

In [52]:
u4 = create_user(
    username = "rahuls1",
    full_name = "Rahul Sharma",
    email = "rahuls@test.com",
    city = "Pune",
    blood_group = "B+ve"
)
u4

{'username': 'rahuls1',
 'Full Name': 'Rahul Sharma',
 'Email': 'rahuls@test.com',
 'City': 'Pune',
 'Blood Group': 'B+ve'}