# Assignment question

## Hoe to check whether triangle forms or not

### Sum of any two sides always greater than third one

In [1]:
from dataclasses import dataclass

In [4]:
@dataclass
class Triangle:
    a:int|float
    b:int|float
    c:int|float
    
    def is_triangle(self) -> bool:
        if(
            (self.a+self.b > self.c) 
            and (self.b+self.c > self.a) 
            and (self.a+self.c > self.b)
        ):
            return True
        else:
            return False
        
    def __post_init__(self):
        errors = []
        
        if not isinstance(self.a, (int, float)) or self.a<= 0:
            errors.append(f"Side a should be positive int or float")
        if not isinstance(self.b, (int, float)) or self.b<= 0:
            errors.append(f'Side b should be positive int or float')
        if not isinstance(self.c, (int, float)) or self.c<= 0:
            errors.append(f'Side c should be positive int or float')
        if not self.is_triangle():
            errors.append('Given sides do not form a triangle')
            
        if errors:
            raise ValueError('\n'.join(errors))
        
    def perimeter(self):
        return self.a + self.b + self.c
    
    def area(self):
        s = self.perimeter()/2
        a = (s*(s-self.a)*(s-self.b)/(s-self.c))**(1/2)   
        return a

In [6]:
t1 = Triangle(a = 3, b = 4, c = 5)
t1

Triangle(a=3, b=4, c=5)

In [7]:
print(type(t1))

<class '__main__.Triangle'>

In [8]:
t1.a

3

In [9]:
t1.b

4

In [11]:
p1 = t1.perimeter()
p1

12

In [12]:
t2 = Triangle(a = 11.5, b = 12.3, c = 13.1)
t2

Triangle(a=11.5, b=12.3, c=13.1)

In [13]:
t2.c

13.1

In [14]:
t2.a

11.5

In [15]:
p2 = t2.perimeter()
p2

36.9

In [16]:
a2 = t2.area()
a2

12.140910410981402

In [17]:
from dataclasses import dataclass

In [31]:
@dataclass
class Account:
    ac_no: int
    name: str
    balance: float

    def show_current_balance(self):
        print(f"A/C no- {self.ac_no} , Name : {self.name} , Current balance : {self.balance} INR")

    def deposit(self, amt:float):
        if amt <= 0:
            raise ValueError("Amount to be deposited cannot be negative or zero")
        
        self.balance = self.balance + amt

    def withdraw(self, amt: float):
        if amt <= 0:
            raise ValueError("Amount withdrawn cannot be negative or zero")
        if amt >= self.balance:
            raise ValueError("Insuffecient Balance")
        
        self.balance = self.balance - amt

    def transfer(self, amt:float, ac):
        self.withdraw(amt)
        ac.deposit(amt)

In [32]:
a1 = Account(ac_no = 1234, name = "Sarthak", balance=5000.0)
a1

Account(ac_no=1234, name='Sarthak', balance=5000.0)

In [33]:
a1.show_current_balance()

A/C no- 1234 , Name : Sarthak , Current balance : 5000.0 INR

In [34]:
a1.deposit(3000.0)

In [30]:
a1.show_current_balance()

A/C no - 1234, Name : Sarthak, Current balance:  5000.0

In [35]:
a1.balance

8000.0

In [36]:
a1.withdraw(3500.0)

In [37]:
a1.show_current_balance()

A/C no- 1234 , Name : Sarthak , Current balance : 4500.0 INR

In [39]:
a1.withdraw(5000.0)

ValueError: Insuffecient Balance

In [40]:
a1.balance

4500.0

In [42]:
a2 = Account(ac_no=5678, name = 'Aditi', balance=1000.0)
a2

Account(ac_no=5678, name='Aditi', balance=1000.0)

## a1 wants to transfer to a2

In [43]:
a1.show_current_balance()

A/C no- 1234 , Name : Sarthak , Current balance : 4500.0 INR

In [44]:
a2.show_current_balance()

A/C no- 5678 , Name : Aditi , Current balance : 1000.0 INR

In [45]:
a1.transfer(700.0, a2)

In [46]:
a2.show_current_balance()

A/C no- 5678 , Name : Aditi , Current balance : 1700.0 INR

## Polymorphism

#### Polymorphism in functions

In [47]:
a = 'Nikhil'
type(a)

str

In [48]:
len(a)

6

In [49]:
b = [2,3,4,5,6]
len(b)

5

In [50]:
c = (2,3,4)
type(c)

tuple

In [51]:
len(c)

3

In [52]:
d = {
    'a':1,
    'b':2,
    'c':3,
    'd':4
}
type(d)

dict

In [53]:
len(d)

4

## Polymorphism in operators

In [54]:
3+4

7

In [55]:
1.2+3.5

4.7

In [56]:
'string1'+'string2'

'string1string2'

In [57]:
[1,2,3] + [1,2,3]

[1, 2, 3, 1, 2, 3]

## Polymorphism in classes

In [70]:
class India:
    
    def capital(self):
        print('new Delhi is capital of India')
        
    def language(self):
        print('Hindi is widely spoken language in India')

In [71]:
class USA:
    
    def capital(self):
        print('New Delhi is capital of India')
        
    def language(self):
        print('Hindi is widely spoken language in India')

In [72]:
class France:
    def capital(self):
        print('Paris is capital of France')
        
    def language(self):
        print('french is widely spoken in France')

In [73]:
c1 = India()
c2 = USA()
c3 = France()

In [74]:
c1.capital()

new Delhi is capital of India

In [75]:
c1.language()

Hindi is widely spoken language in India

In [76]:
c1.capital()

new Delhi is capital of India

In [77]:
c2.capital()

New Delhi is capital of India

In [79]:
for i in (c1, c2, c3):
    print(f'Type : {type(i)}')
    i.capital()
    i.language()
    print('\n =================================== \n')

Type : <class '__main__.India'>
new Delhi is capital of India
Hindi is widely spoken language in India

 ===================================

Type : <class '__main__.USA'>
New Delhi is capital of India
Hindi is widely spoken language in India

 ===================================

Type : <class '__main__.France'>
Paris is capital of France
french is widely spoken in France

 ===================================

## Calculating area and perimeter for shapes

In [80]:
@dataclass
class Rectangle:
    length: int | float
    width: int | float

    def perimeter(self):
        return 2 * (self.length + self.width)

    def area(self):
        return self.length * self.width

In [81]:
import math

In [82]:
math.pi

3.141592653589793

In [83]:
@dataclass
class Circle:
    radius: int | float

    def perimeter(self):
        return 2 * math.pi * self.radius

    def area(self):
        return math.pi * (self.radius**2)

In [84]:
s1 = Triangle(3, 4, 5.1)
s2 = Circle(7)
s3 = Rectangle(20, 10)
s4 = Circle(10)
s5 = Triangle(12, 13, 14)

In [85]:
for i in (s1, s2, s3, s4, s5):
    print(i)
    print(f"Perimeter : {i.perimeter():.2f}")
    print(f"Area : {i.area():.2f}")
    print("\n==========================================\n")

Triangle(a=3, b=4, c=5.1)
Perimeter : 12.10
Area : 6.31

==========================================

Circle(radius=7)
Perimeter : 43.98
Area : 153.94

==========================================

Rectangle(length=20, width=10)
Perimeter : 60.00
Area : 200.00

==========================================

Circle(radius=10)
Perimeter : 62.83
Area : 314.16

==========================================

Triangle(a=12, b=13, c=14)
Perimeter : 39.00
Area : 13.15

==========================================